.vscode/
.vs/
x64/
.ipynb_checkpoints/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

1_Operator_Split/1_Main/Main
1_Operator_Split/1_Main/Rubbish
1_Operator_Split/3_Test

Eigen/

git_commands.txt
